<h1> lista klientów <h1>



<table>

    <thread>
        <tr>
            <th>
                E-mail
            </th>
             <th>
                Imie
            </th>
            <th>
                action
            </th>
        </tr>
    </thread>
    <tbody>
    {{#each clients}}
        <th>
            {{this.email}}
        </th>
        <td>
            {{this.name}}
        </td>
        <td>
            <a href='/client/{{this.id}}'> szczegóły </a>
            <form method="POST" action="/client/{{this.id}}?_method=DELETE"><button type="submit">Usuń</button></form>
            <p>nie działa kurwa</p>
        </td>
    {{/each}}
    </tbody>
</table>