<h1> {{client.name}} <h1>
<table>  
    <tbody>
        <tr>
            <th>
                Imie
            </th>
            <td>
                {{client.name}}
            </td>
        </tr>
        <tr>    
            <th>
                E-mail
            </th>
            <td>
                 {{client.email}}
            </td>
         </tr>   
    </tbody>
</table>